.center{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.table_center{
    margin-left:auto;
    margin-right:auto;
    width: 40%;
}

.img_center{
    display: block;
    margin: auto;
}

.tabs{
    width: 500px;
    display: block;
    margin: auto;
}

.tabs > div, .tabs > input {
    display: none;
}

.tabs label {
    padding: 5px;
    border: 1px solid #aaa;
    line-height: 28px;
    cursor: pointer;
    position: relative;
    bottom: 1px;
    background: #fff;
}

.tabs input[type="radio"]:checked + label {
    border-bottom: 2px solid #fff;
}

.tabs > input:nth-of-type(1):checked ~ div:nth-of-type(1), .tabs > input:nth-of-type(2):checked ~ div:nth-of-type(2) {
    display: block;
    padding: 5px;
    border: 1px solid #aaa;
}