.center{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.table_center{
    margin-left:auto;
    margin-right:auto;
    width: 30%;
}

.img_center{
    display: block;
    margin: auto;
}