{% extends "base.html" %}

{% block content %}

    <div>
        <form onsubmit="return queryset_filter(this)">
            <table class="table_center">
                <tr>
                    <th><label for="width">Ширина: {{ params.width }} px</label></th>
                    <th><label for="height">Высота: {{ params.height }} px</label></th>
                    <th><label for="size">Размер: {{ params.size }} bytes</label></th>
                </tr>
                <tr>
                    <th><input type="text" name="width" placeholder="Введите ширинну" pattern="^[0-9]+$"></th>
                    <th><input type="text" name="height" placeholder="Введите высоту" pattern="^[0-9]+$"></th>
                    <th><input type="text" name="size" placeholder="Введите размер в байтах" pattern="^[0-9]+$"></th>
                    <th><input type="submit" value="Изменить"></th>
                </tr>
            </table>
        </form>
    </div>

    <div>
        <img src="{{ image.image.url }}" class="img_center">
        <img src="{{ img }}" class="img_center">
    </div>

{% endblock %}