{% extends "base.html" %}

{% block content %}

    <div>
        <form method="post" enctype="multipart/form-data" onsubmit="return validate_upload(this)">
            {% csrf_token %}
            <table class="table_center">
                <tr>
                    <th>{{ form.image_from_file.label }}</th>
                    <th>{{ form.image_from_url.label }}</th>
                </tr>
                <tr>
                    <th>{{ form.image_from_file }}</th>
                    <th>{{ form.image_from_url }}</th>
                    <th><button type="submit">Сохранить</button></th>
                </tr>
            </table>
        </form>

        <div class="center">
            <p>{{ error }}</p>
            <object name="error"></object>
        </div>

    </div>

{% endblock %}