{% extends "base.html" %}

{% block content %}

    <div>
        <form method="post" enctype="multipart/form-data" onsubmit="return validate_upload(this)">
            {% csrf_token %}
            <div class="tabs">
                <input type="radio" checked="checked" name="tab" id="tab1"/><label for="tab1">{{ form.image_from_file.label }}</label>
                <input type="radio" name="tab" id="tab2"/><label for="tab2">{{ form.image_from_url.label }}</label>
                <div>
                    {{ form.image_from_file }}
                    <button type="submit" name="_file">Сохранить</button>
                </div>
                <div>
                    {{ form.image_from_url }}
                    <button type="submit" name="_url">Сохранить</button>
                </div>
            </div>
        </form>

        <div class="center">
            <p>{{ error }}</p>
            <object name="error"></object>
        </div>
    </div>

{% endblock %}

